<div class="row">

    <div class="row" ng-controller="MapCtrl">

        <div class=" col-xs-12">
            <div id="map" style="width: auto; height: 400px"></div>
        </div>

        <div class=" col-xs-12" ng-hide=" hide() ">
            <h5>Введите название города на русском языке с ЗАГЛАВНОЙ буквы.  {{gameService.warn}}<h4>{{gameService.lastCity}}</h4></h5>
            <h5>Ваш ход <input type="text" ng-model="FromUser" value="Ммм" placeholder=" Название города">
                <button class="btn btn-sm btn-info" ng-click="checkCity(FromUser)">Продолжить</button>
            </h5>
        </div>

    </div>
</div>
