<div class="row" ng-controller="AboutCTRL">
    <div class="col-lg-12" align="center" style="padding: 0 10%">
        <h3 align="center">Здравствуйте уважаемые дамы и господа!!!</h3><br>
        <h4>Это игра ГОРОДА. Первым город говорит пользователь затем компьютер таким образом, чтобы название следующего
            города начиналось на последнюю букву предыдущего. Игра продолжается до тех пор, пока у одного из участников
            не закончатся варианты. С более подробными правилами игры Вы можете ознакомиться
            <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0_(%D0%B8%D0%B3%D1%80%D0%B0)" target="_blank"> <b>здесь</b> </a>
        </h4>
        <!--<h4><a  target="_blank" href ="http://dima.tiga.by"> <b>Здесь</b> </a> Вы можете познакомиться с создателем этого сайта:)</h4>--><br>
        <h4>Если у Вас возникли вопросы или появились предложения, то пишите на <b>{{recipient + at + dotcom}}</b> или
            нажмите на конвертик, чтобы перейти в почтовый клиент по умолчанию, или стучитесь в <a href="http://t.me/Zmitry" target="_blank"> <b>Telegram</b> </a>.
        </h4><br>
        <button ng-click="send()" style="outline: none; border: none; background: none; margin: 5px"><img src="/img/envelop.png" width="50px" height="50px" onclick="style = 'transform: scale(1.2)'" onmouseover="style = 'transform: rotate(360deg); transition: transform .5s'" onmouseout="style = 'transform: rotate(360); transition: transform .5s'">
        </button>
        <a id="send" href="http://t.me/Zmitry" target="_blank" style="outline: none; border: none; background: none; margin: 5px"><img src="/img/send.png" width="50px" height="50px" onclick="style = 'transform: scale(1.2)'" onmouseover="style = 'transform: rotate(360deg); transition: transform .5s'" onmouseout="style = 'transform: rotate(360); transition: transform .5s'">
        </a>

    </div>
</div>